<div>
  <!-- Modal -->
  <div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="addEvent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Event</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li><input ng-model="newEvent.title" ng-required="true" placeholder="Event Title"></input></li>
                <li>
                  <p ng-controller="DatepickerCtrl" class="input-group">
                    <input type="text" placeholder="Event Date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newEvent.date" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </li>
                <li><input ng-model="newEvent.guests" ng-required="true" placeholder="No. Guests Attending"></input></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
  </div>

  <div ng-show='events.length' ng-repeat="event in events">
    <div class="panel panel-default">
      <div class="panel-heading">{{event.occasion}}</div>
      <div class="panel-body">
        Date: {{event.day}}/{{event.month}}/{{event.year}}
        <br>
        Attendees: {{event.invited_count}}
      </div>
    </div>
  </div>
</div>